@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
  outline-offset: 0px;
  outline: solid 5px transparent;
}

button:where(button, input):where(:not(:active)):focus-visible {
  transition: var(--transition-time);
  outline-offset: 4px;
  outline: solid 5px var(--attention-color);
}

button:where(button, input):where(:focus-visible):active {
  transition: var(--transition-time) !important;
  outline-offset: 0px;
  outline: solid 5px var(--attention-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  color: #000000;
  font-weight: 700;
  font-size: 53px;
}

h2 {
  color: #000000;
  font-weight: 700;
  font-size: 42px;
}

h4 {
  color: #000000;
  font-weight: 700;
  font-size: 28px;
}

h5 {
  color: #000000;
  font-weight: 400;
  font-size: 30px;
}

h6 {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}

p {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.tiny {
  font-weight: 600;
  font-size: 10px;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.ImageFit {
  object-fit: contain;
}